Sample2/decode2018samplelinebot.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflows_name": {
            "defaultValue": "LineBotSample_decode",
            "type": "string"
        },
        "connections_name": {
            "defaultValue": "cognitiveservicescomputervision",
            "type": "string"
        },
        "apiKey": {
            "type": "securestring"
        },
        "siteUrl": {
            "type": "string"
        }
},
    "variables": {},
    "resources": [
        {
            "comments": "decode2018サンプル用 LINE BOT",
            "type": "Microsoft.Logic/workflows",
            "name": "[parameters('workflows_name')]",
            "apiVersion": "2017-07-01",
            "location": "westcentralus",
            "tags": {},
            "scale": null,
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "manual": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "schema": {
                                    "properties": {
                                        "events": {
                                            "items": {
                                                "message": {
                                                    "properties": {
                                                        "address": {
                                                            "type": "string"
                                                        },
                                                        "fileName": {
                                                            "type": "string"
                                                        },
                                                        "fileSize": {
                                                            "type": "number"
                                                        },
                                                        "id": {
                                                            "type": "string"
                                                        },
                                                        "latitude": {
                                                            "type": "number"
                                                        },
                                                        "longitude": {
                                                            "type": "number"
                                                        },
                                                        "packageId": {
                                                            "type": "string"
                                                        },
                                                        "stickerId": {
                                                            "type": "string"
                                                        },
                                                        "text": {
                                                            "type": "string"
                                                        },
                                                        "title": {
                                                            "type": "string"
                                                        },
                                                        "type": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "postback": {
                                                    "properties": {
                                                        "data": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "properties": {
                                                    "replyToken": {
                                                        "type": "string"
                                                    },
                                                    "source": {
                                                        "properties": {
                                                            "groupId": {
                                                                "type": "string"
                                                            },
                                                            "type": {
                                                                "type": "string"
                                                            },
                                                            "userId": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "timestamp": {
                                                        "type": "number"
                                                    },
                                                    "type": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "actions": {
                        "BearerTokenを変数に設定": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "bearer",
                                        "type": "String",
                                        "value": "VLSZwu7+aozSAtn47lfVIvbrxbxDqNMdjWNRvD0T7W8rq5XA+jzIcZBobrF0vYyGS+n19K6CAhncuUf9GcDLm9xYwlryQ5BL99kute5+2lzj+fJX6ZYLuDfH1f7VFkQQI4ac/xY9FEvtan8ZVkiEQAdB04t89/1O/w1cDnyilFU="
                                    }
                                ]
                            }
                        },
                        "受信したイベントを全て処理する": {
                            "foreach": "@triggerBody()?['events']",
                            "actions": {
                                "画像付きMessage以外は未対応として返信する": {
                                    "actions": {
                                        "未対応メッセージを送信する": {
                                            "runAfter": {},
                                            "type": "Http",
                                            "inputs": {
                                                "body": {
                                                    "messages": [
                                                        {
                                                            "text": "この BOT は画像のみ対応しています。",
                                                            "type": "text"
                                                        }
                                                    ],
                                                    "replyToken": "@{items('受信したイベントを全て処理する')?['replyToken']}"
                                                },
                                                "headers": {
                                                    "Authorization": "Bearer @{variables('bearer')}",
                                                    "Content-Type": "application/json"
                                                },
                                                "method": "POST",
                                                "uri": "https://api.line.me/v2/bot/message/reply"
                                            }
                                        }
                                    },
                                    "runAfter": {},
                                    "else": {
                                        "actions": {
                                            "ComputerVisionAPIで文字解析を行う": {
                                                "runAfter": {
                                                    "送信された画像を取得する": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "ApiConnection",
                                                "inputs": {
                                                    "body": "@body('送信された画像を取得する')",
                                                    "host": {
                                                        "connection": {
                                                            "name": "@parameters('$connections')['cognitiveservicescomputervision']['connectionId']"
                                                        }
                                                    },
                                                    "method": "post",
                                                    "path": "/vision/v1.0/ocrtext",
                                                    "queries": {
                                                        "detectOrientation": true,
                                                        "format": "Image Content",
                                                        "language": "unk"
                                                    }
                                                }
                                            },
                                            "解析結果を送信する": {
                                                "runAfter": {
                                                    "ComputerVisionAPIで文字解析を行う": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "Http",
                                                "inputs": {
                                                    "body": {
                                                        "messages": [
                                                            {
                                                                "text": "解析してみました。",
                                                                "type": "text"
                                                            },
                                                            {
                                                                "text": "@{body('ComputerVisionAPIで文字解析を行う')?['text']}",
                                                                "type": "text"
                                                            }
                                                        ],
                                                        "replyToken": "@{items('受信したイベントを全て処理する')?['replyToken']}"
                                                    },
                                                    "headers": {
                                                        "Authorization": "Bearer @{variables('bearer')}",
                                                        "Content-Type": "application/json"
                                                    },
                                                    "method": "POST",
                                                    "uri": "https://api.line.me/v2/bot/message/reply"
                                                }
                                            },
                                            "送信された画像を取得する": {
                                                "runAfter": {},
                                                "type": "Http",
                                                "inputs": {
                                                    "headers": {
                                                        "Authorization": "Bearer @{variables('bearer')}"
                                                    },
                                                    "method": "GET",
                                                    "uri": "@{concat('https://api.line.me/v2/bot/message/',items('受信したイベントを全て処理する')?['message']?['id'],'/content')}"
                                                }
                                            }
                                        }
                                    },
                                    "expression": {
                                        "or": [
                                            {
                                                "not": {
                                                    "equals": [
                                                        "@items('受信したイベントを全て処理する')?['type']",
                                                        "message"
                                                    ]
                                                }
                                            },
                                            {
                                                "not": {
                                                    "equals": [
                                                        "@items('受信したイベントを全て処理する')?['message']['type']",
                                                        "image"
                                                    ]
                                                }
                                            }
                                        ]
                                    },
                                    "type": "If"
                                }
                            },
                            "runAfter": {
                                "呼出を受信したので応答する": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "呼出を受信したので応答する": {
                            "runAfter": {
                                "BearerTokenを変数に設定": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Response",
                            "kind": "Http",
                            "inputs": {
                                "statusCode": 200
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "cognitiveservicescomputervision": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('connections_name'))]",
                                "connectionName": "cognitiveservicescomputervision",
                                "id": "/subscriptions/326a3b11-d573-4c1d-aa3f-b1f75d57a91c/providers/Microsoft.Web/locations/westcentralus/managedApis/cognitiveservicescomputervision"
                            }
                        }
                    }
                }
            },
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', parameters('connections_name'))]"
            ]
        },
        {
            "comments": "ComputeVision API 接続",
            "type": "Microsoft.Web/connections",
            "name": "[parameters('connections_name')]",
            "apiVersion": "2016-06-01",
            "location": "westcentralus",
            "scale": null,
            "properties": {
                "displayName": "conOCR",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/326a3b11-d573-4c1d-aa3f-b1f75d57a91c/providers/Microsoft.Web/locations/westcentralus/managedApis/', parameters('connections_name'))]"
                },
                "parameterValues": {
                    "apiKey": "[parameters('apiKey')]",
                    "siteUrl": "[parameters('siteUrl')]"
                }
            },
            "dependsOn": []
        }
    ]
}